* {
  box-sizing: border-box; }

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: white;
  background-color: #002244;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #002244;
  text-decoration: none;
}

.heading {
  background-color: #999;
}

h1 small {
  color: #333;
  font-size: .6em;
}

.box {
  background-color: #FB4F14;
}
#col3 {
  background-color: white;
  color: black;
}

.box a.read-more {
  text-decoration: underline;
}
#read {
  color: #FB4F14;
}

.footer {
  background-color: #999;
  color: #fff;
  font-style: italic;
}
