.header {
  width: 100% auto;height: 600px;
  background-image: url(../img/header1.png);
  opacity: inherit;
  background-repeat: no-repeat;
  background-position: center;
  background-color: inherit;
  color: #FB4F14;
  font-size: 70px;
  padding-top: 50px;
  padding-right: 900px;

}
section {
  height: 0px;
}
input, textarea{
  font-size: 120%;
  color: #002244;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  display: block;
  margin-bottom: 10px;
}
input:focus, input:hover, textarea:hover, textarea:focus {
  background-color: #FB4F14;
  border: 2px solid black;
}
#col2top {
  text-align: center;
  font-weight: bold;
}
.frame {
  padding-left: 935px;
padding-top: 280px;
  z-index: 100;
}

#News {
  color: #002244;
  font-size: 30px;
}
#About {
  font-size: 30px;
}

background-repeat: no-repeat;
background-position: center 400px;
html, body {
    margin: 0;
    /*height: 100%;*/
    width: 100%;
    z-index: 99;
}
body {
  background-color: orange;
}

#art1 {
  font-size: 20px;
  padding-bottom: 40px;
}

#art2 {
    font-size: 20px;
padding-bottom: 40px;
}
#art3 {
  font-size: 20px;

padding-bottom: 40px;
}

#art4{
    font-size: 20px;
padding-bottom: 40px;
}
#art5 {
    font-size: 20px;
padding-bottom: 40px;
}
#art6 {
    font-size: 20px;
padding-bottom: 38px;
}
#art7 {
  font-size: 20px;
  padding-bottom: 30px;
}

#art8 {
    font-size: 20px;
padding-bottom: 30px;
}
#art9 {
  font-size: 20px;

padding-bottom: 30px;
}

#art10{
    font-size: 20px;
padding-bottom: 30px;
}
#art11 {
    font-size: 20px;
padding-bottom: 30px;
}
#art12 {
    font-size: 20px;
padding-bottom: 11px;
}
#mission {
  font-size: 16px;
}
#head {
  color: #002244;
  font-size: 26px;

}
#dates {
  font-size: 16px;
}
#disaster {
  width: 200px;
margin-right: 20px;
}
#p1 {
  font-size: 20px;
}
#mini {
  font-weight: bolder;
  text-decoration: underline;
}
